<a href="https://colab.research.google.com/github/2303A51923/ADM-LAB/blob/main/ADM_LAB_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.print the dataset
import pandas as pd
df = pd.read_csv('university_student.csv')
print("Dataset:\n", df)

Dataset:
     Student ID  Gender Date of Birth  ...  Math Score Reading Score Writing Score
0            1    Male    1996-12-03  ...          72            91            69
1            2  Female    2001-09-15  ...          66            58            62
2            3    Male    2002-08-09  ...          75            99            77
3            4    Male    1999-04-29  ...          57            76            97
4            5    Male    1995-06-11  ...          78            51            78
..         ...     ...           ...  ...         ...           ...           ...
95          96  Female    2004-12-04  ...          87            85            88
96          97  Female    2003-01-18  ...          56            76            87
97          98  Female    1999-01-24  ...          95            66            83
98          99  Female    2005-04-20  ...          62            58            87
99         100    Male    2004-12-25  ...          89            82            99

[100 rows x 10 columns]

In [8]:
# 2. Handle missing values with mean for numeric columns only
for column in df.select_dtypes(include=['number']).columns:
    df[column].fillna(df[column].mean(), inplace=True)

<ipython-input-8-ea1def3f3aa5>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [4]:
#3.one hot encoding for gender and school type
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
gender_school_encoded = encoder.fit_transform(df[['Gender', 'School Type']]).toarray()
encoded_columns = encoder.get_feature_names_out(['Gender', 'School Type'])
df = df.join(pd.DataFrame(gender_school_encoded, columns=encoded_columns))

In [5]:
#4.Label encoding for grade using label encoder
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Grade'] = label_encoder.fit_transform(df['Grade'])

In [6]:
#5.create new derived column for age and total score
current_year = 2025
df['Age'] = current_year - pd.to_datetime(df['Date of Birth']).dt.year
df['Total Score'] = df[['Math Score', 'Reading Score', 'Writing Score']].sum(axis=1)

In [7]:
#6.group and aggregate data
grouped_df = df.groupby('Grade')['Total Score'].mean().reset_index()
print("Grouped and Aggregated Data:\n", grouped_df)

Grouped and Aggregated Data:
    Grade  Total Score
0      0   232.535714
1      1   215.500000
2      2   230.428571
3      3   227.304348
4      4   210.062500